* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.head, .col-lg, .row,.content-header, .container-fluid {
    padding: 0;
    margin: 0;
}

.header {
    width: 25rem;
}

.foto {
    height: 30rem;
}

.content-main {
    background: linear-gradient(180deg, rgba(255,255,255,1) 54%, rgba(32,54,214,1) 54%);
    height: 50rem;
}